@page "/button2"

<p>Child Message: <b>@ChildMessage</b></p>

<div class="toggle-wrapper">
    <label class="toggle">
        <input type="checkbox" @bind="@ChildMessage" />
        <span class="toggler round"></span>
    </label>
</div>

@code {
    [CascadingParameter] bool ChildMessage { get; set; }


}