@import '_content/Majorsoft.Blazor.Components.Toggle/Majorsoft.Blazor.Components.Toggle.bundle.scp.css';

/* _content/BlazorButton/Pages/Button2.razor.rz.scp.css */
body[b-3z024ngcdq] {
}

.toggle[b-3z024ngcdq] {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .toggle input[b-3z024ngcdq] {
        opacity: 0;
        width: 0;
        height: 0;
    }

.toggler[b-3z024ngcdq] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15202b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .toggler[b-3z024ngcdq]:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

input:checked + .toggler[b-3z024ngcdq] {
    background: #2196f3;
}

input:focus + toggler[b-3z024ngcdq] {
    box-shadow: 0 0 2px #2196f3;
}

input:checked + .toggler[b-3z024ngcdq]:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggler.round[b-3z024ngcdq] {
    border-radius: 34px;
}

    .toggler.round[b-3z024ngcdq]:before {
        border-radius: 50%;
    }
/* _content/BlazorButton/Shared/MainLayout.razor.rz.scp.css */
.page[b-dvrs6zdkx1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-dvrs6zdkx1] {
    flex: 1;
}

.sidebar[b-dvrs6zdkx1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dvrs6zdkx1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dvrs6zdkx1]  a, .top-row .btn-link[b-dvrs6zdkx1] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dvrs6zdkx1] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dvrs6zdkx1] {
        display: none;
    }

    .top-row.auth[b-dvrs6zdkx1] {
        justify-content: space-between;
    }

    .top-row a[b-dvrs6zdkx1], .top-row .btn-link[b-dvrs6zdkx1] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dvrs6zdkx1] {
        flex-direction: row;
    }

    .sidebar[b-dvrs6zdkx1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dvrs6zdkx1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-dvrs6zdkx1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorButton/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-2bz861u231] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-2bz861u231] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-2bz861u231] {
    font-size: 1.1rem;
}

.oi[b-2bz861u231] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-2bz861u231] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-2bz861u231] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-2bz861u231] {
        padding-bottom: 1rem;
    }

    .nav-item[b-2bz861u231]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-2bz861u231]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-2bz861u231]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2bz861u231] {
        display: none;
    }

    .collapse[b-2bz861u231] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
